# Keep these files out of the repo
/wp-content/plugins/simple-locator/vendor/league/csv
/wp-content/upgrade
/wp-content/uploads
/sitemap.*
/wp-config.php
*.sql

# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
*.htaccess
